@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;

}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 1px;px;
    min: height 1px;px;
  }
  .content {
    height:20vh;
  }
  h1 {
    font-size:12px;
  }
}


.login__container {
    min-width: 60%;
    max-width: 70%;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.login__container__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    border: #33333300 solid 1px;
    border-radius: 5px;
    padding: 0.2rem;
    width: 90%;
    height: 3vh;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

main {
 max-width: 30%;
 padding-left: 40px;
 max-height: fit-content;
}

aside {
max-width: 50%;
padding-right: 40px;
max-height: fit-content;

}

img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 45%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

p {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

a {

    color: #1900ff;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

h2 {
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    margin-top: 40px;
    
}

h3 {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    
}

#submit__button {
    background-color: #1900ff18;
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    height: 8vh;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}

@media (max-width: 768px) {

    input {
        margin-bottom: 10px;}

    img {
        width: 40%;
        height: 50%;
        max-width: 50%;
        max-height: 45%;
        object-fit: cover;
        mix-blend-mode: multiply;
        margin-top: 30px;
    }

    h2 {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

    .login__container {
        min-width: 90%;
        max-width: 90%;
        min-height: 100vh;
        max-height: 100vh;
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }


    main {
        max-width: 100%;
        padding-left: 0;
        margin:auto 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    aside {
        max-width: 100%;
        padding-right: 0;
        margin-top: 0;
    }


    p {
        font-size: 0.8em;
        font-family: 'Lato', sans-serif;
        margin-bottom: 1px;
    }



}